{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  rel="stylesheet"  
  type="text/cass" 
  href="{% static 'css/cars/car-detail.css' %}"
/>
<script defer src="{% static 'js/car-detail.js' %}"></script>
{% endblock head %}

{% block content %}
<section class="cat-container">
  <div class="cat-details">
    <h1>{{ car.year }} {{ car.make }} {{ car.model }}</h1>
    <p>{{ car.quote }}</p>
    <div class="cat-actions">
      <a href="{% url 'cars_update' car.id %}" class="btn warn">Edit</a>
      <a href="{% url 'cars_delete' car.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Services</h2>
      <img 
        src="" 
        alt="Car doin car things"
      />
      <img 
        src=""
        alt="Car doin car things"
      />
      <img 
        src="" 
        alt="Car doin car things"
      />
    </div>
    <h3>Add a Servicing</h3>
    <form
      action="{% url 'add_servicing' car.id %}" 
      method="post" 
      class="subsection-content"
    >
      {% csrf_token %}
      {{ servicing_form.as_p }}
      <button type="submit" class="btn submit">Add Servicing</button>
    </form>
    <h3>Past Servicings</h3>
    {% if car.servicing_set.all.count %}
    <table>
      <thead>
        <tr><th>Date</th><th>Work Done</th></tr>
      </thead>
      <tbody>
        {% for service in car.servicing_set.all %}
          <tr>
            <td>{{service.date}}</td>
            <td>{{service.work_done}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <div class="subsection-content">
        <p>{{car.make}} {{car.model}} has never been serviced</p>
      </div>
    {% endif %}
  </section>
  <section class="toys">
    <div class="subsection-title">
      <h2>Mods</h2>
      <img src="" alt="A Car doin car things" />
      <img src="" alt="Car doin car things" />
      <img src="" alt="Car things" />
    </div>
    <h3>{{car.make}} {{car.model}}'s Mods</h3>
    <div class="subsection-content">
      {% if car.mods.count %}
        {% for mod in car.mods.all %}
          <div class="toy-container">
            <div 
              class="color-block"
            ></div>
            <a href="{% url 'mods_detail' mod.id %}">
              <p>A ${{ mod.price }} {{ mod.name }}</p>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <p class="no-toys">{{car.make}} {{car.model}} doesn't have any mods, consider adding some!</p>
      {% endif %}
    </div>
    <h3>Available Mods</h3>
    <div class="subsection-content">
      {% if mods.count %}
        {% for mod in mods.all %}
          <div class="toy-container">
            <div 
              class="color-block"
            ></div>
            <a href="{% url 'mods_detail' mod.id %}">
              <p>A ${{ mod.price }} {{ mod.name }}</p>
            </a>
            <form action="{% url 'assoc_mod' car.id mod.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Install mod</button>
            </form>
          </div>
        {% endfor %}
      {% else %}
        <p class="all-toys">
          {{car.make}} {{car.model}} already has all the available mods
        </p>
      {% endif %}
    </div>
  </section>
</div>
{% endblock content %}